@model ArticleViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">توضیحات کوتاه مقالهٔ @Model.Title</h4>
</div>

<div>@Model.ShortDescription</div>