@model CommentViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@Model.Name</h4>
</div>

<div>@Model.Message</div>