@model ArticleCategoryViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">توضیحات گروه مقالهٔ @Model.Name</h4>
</div>

<div>@Model.Description</div>